@charset "utf-8";

$common-sprite-img:"sprite_common.png";

%sprite {
	display: block;
	background-image: image-url($common-sprite-img);
	background-repeat: no-repeat;
	vertical-align: bottom;
	text-indent: -9999px;
	background-size: image-width($common-sprite-img)/2 image-height($common-sprite-img)/2;
}


%icon-before {
	@include box-sizing(border-box);
	@include display-box;
	@include box-align(center);
	&>div {
		&:nth-child(1){
			@include box-flex(1);
		}
	}
	&:before {
		content:"";
	}
}

%icon-after {
	@include box-sizing(border-box);
	@include display-box;
	@include box-align(center);
	&>div {
		&:nth-child(1){
			@include box-flex(1);
		}
	}
	&:after {
		content:"";
	}
}


/*
### arrow
###### 黒 Mサイズ 右
```
<span class="ic-arr-bla-r-m"></span>
```
*/
.ic-arr-bla-r-m {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:0 -70px;
		margin-left: 8px;
	}
}
/*
###### 黒 Mサイズ 左
```
<span class="ic-arr-bla-l-m"></span>
```
*/
.ic-arr-bla-l-m {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-9px -70px;
		margin-right: 8px;
	}
}

/*
###### 黒 Sサイズ 右
```
<span class="ic-arr-bla-r-s"></span>
```
*/
.ic-arr-bla-r-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:0 -83px;
		margin-left: 4px;
	}
}

/*
###### 黒 Sサイズ 左
```
<span class="ic-arr-bla-l-s"></span>
```
*/
.ic-arr-bla-l-s {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-6px -83px;
		margin-right: 4px;
	}
}


/*
###### グレー Mサイズ 右
```
<span class="ic-arr-gra-r-m"></span>
```
*/
.ic-arr-gra-r-m {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-18px  -70px;
		margin-left: 8px;
	}
}

/*
###### グレー Mサイズ 左
```
<span class="ic-arr-gra-l-m"></span>
```
*/
.ic-arr-gra-l-m {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-27px -70px;
		margin-right: 8px;
	}
}

/*
###### グレー Sサイズ 右
```
<span class="ic-arr-gra-r-s"></span>
```
*/
.ic-arr-gra-r-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-12px -83px;
		margin-left: 4px;
	}
}

/*
###### グレー Sサイズ 左
```
<span class="ic-arr-gra-l-s"></span>
```
*/
.ic-arr-gra-l-s {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-18px -83px;
		margin-right: 4px;
	}
}


/*
###### 白 Mサイズ 右
```
<span class="ic-arr-whi-r-m"></span>
```
*/
.ic-arr-whi-r-m {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-36px  -70px;
		margin-left: 8px;
	}
}

/*
###### 白 Mサイズ 左
```
<span class="ic-arr-whi-l-m"></span>
```
*/
.ic-arr-whi-l-m {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-45px -70px;
		margin-right: 8px;
	}
}


/*
###### 白 Sサイズ 右
```
<span class="ic-arr-whi-r-s"></span>
```
*/
.ic-arr-whi-r-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-24px -83px;
		margin-left: 4px;
	}
}

/*
###### 白 Sサイズ 左
```
<span class="ic-arr-whi-l-s"></span>
```
*/
.ic-arr-whi-l-s {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-30px -83px;
		margin-right: 4px;
	}
}


/*
###### 青 Mサイズ 右
```
<span class="ic-arr-blu-r-m"></span>
```
*/
.ic-arr-blu-r-m {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-54px  -70px;
		margin-left: 8px;
	}
}


/*
###### 青 Mサイズ 左
```
<span class="ic-arr-blu-l-m"></span>
```
*/
.ic-arr-blu-l-m {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:9px;
		height:13px;
		background-position:-63px -70px;
		margin-right: 8px;
	}
}

/*
###### 青 Sサイズ 右
```
<span class="ic-arr-blu-r-s"></span>
```
*/
.ic-arr-blu-r-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-36px -83px;
		margin-left: 4px;
	}
}

/*
###### 青 Sサイズ 左
```
<span class="ic-arr-blu-l-s"></span>
```
*/
.ic-arr-blu-l-s {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:6px;
		height:9px;
		background-position:-42px -83px;
		margin-right: 4px;
	}
}

/*
###### 矢印 small
```
<span class="ic-arr-gra-round"></span>
```
*/
.ic-arr-gra-round {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:15px;
		height:15px;
		background-position:-72px -61px;
	}
}

/*
###### 矢印 small
```
<span class="ic-arr-gra-round-btn"></span>
```
*/
.ic-arr-gra-round-btn {
	@extend %sprite;
	width:15px;
	height:15px;
	background-position:-72px -61px;
	text-indent: -9999px;
	overflow: hidden;
}

/*
###### 前ボタン用矢印
```
<span class="ic-prev-active"></span>
```
*/
.ic-prev-active {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-63px -70px;
}

/*
###### 前ボタン用矢印(白)
```
<span class="ic-prev-whi"></span>
```
*/
.ic-prev-whi {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-45px -70px;
}

/*
###### 次ボタン用矢印
```
<span class="ic-next-active"></span>
```
*/
.ic-next-active {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-54px -70px;
}

/*
###### 次ボタン用矢印(白)
```
<span class="ic-next-whi"></span>
```
*/
.ic-next-whi {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-36px  -70px;
}

/*
###### 前ボタン用矢印　非活性
```
<span class="ic-prev-disable"></span>
```
*/
.ic-prev-disable {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-27px -70px;
}


/*
###### 次ボタン用矢印　非活性
```
<span class="ic-next-disable"></span>
```
*/
.ic-next-disable {
	@extend %sprite;
	width:9px;
	height:13px;
	background-position:-18px -70px;
}


/*
###### ページトップに戻る用矢印
```
<span class="ic-page-top"></span>
```
*/
.ic-page-top {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		margin-left: 4px;
		width:15px;
		height:15px;
		background-position:-87px -61px;
	}
}




/*
### status
*/
/*
###### ダウンロードアイコン
```
<span class="ic-download"></span>
```
*/
.ic-download {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:17px;
		height:17px;
		background-position:-93px -76px;
	}
}

/*
###### 履歴用アイコン
```
<span class="ic-history"></span>
```
*/
.ic-history {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:16px;
		height:16px;
		background-position:-16px -92px;
		margin-right: 8px;
	}
}

/*
###### 検索アイコン　黒
```
<span class="ic-search-bla"></span>
```
*/
.ic-search-bla {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:16px;
		height:17px;
		background-position:0 -92px;
		margin-right: 8px;
	}
}

/*
###### 検索アイコン　グレー
```
<span class="ic-search-gra"></span>
```
*/
.ic-search-gra {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:15px;
		height:15px;
		background-position:-32px -92px;
		margin-right: 8px;
	}
}

/*
###### 検索アイコン　白
```
<span class="ic-search-whi"></span>
```
*/
.ic-search-whi {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:15px;
		height:15px;
		background-position:-47px -92px;
		margin-right: 8px;
	}
}

/*
###### 検索　エリア　アイコン
```
<span class="ic-area"></span>
```
*/
.ic-area {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:11px;
		height:16px;
		background-position:-80px -111px;
	}
}

/*
###### 検索　キーワード　アイコン
```
<span class="ic-keyword"></span>
```
*/
.ic-keyword {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:12px;
		height:16px;
		background-position:-91px -111px;
	}
}

/*
###### 検索　タブアイコン　レストラン
```
<span class="ic-nav-restaurant"></span>
```
*/
.ic-nav-restaurant {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:26px;
		height:27px;
		background-position:0 0;
	}
}


/*
###### 検索　タブアイコン　ランチ
```
<span class="ic-nav-lunch"></span>
```
*/
.ic-nav-lunch {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:29px;
		height:29px;
		background-position:-26px 0;
	}
}

/*
###### 検索　タブアイコン　宴会
```
<span class="ic-nav-plan"></span>
```
*/
.ic-nav-plan {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:41px;
		height:32px;
		background-position:-55px 0;
	}
}
/*
###### こだわりリボン
```
<span class="ic-kodawari"></span>
```
*/
.ic-kodawari {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		content: "";
		width:15px;
		height:27px;
		background-position:-96px 0;
	}
}
/*
###### 検索　エリア
```
<span class="ic-search-area"></span>
```
*/
.ic-search-area {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:28px;
		height:30px;
		background-position:0 -170px;
		margin-right: 4px;
	}
}
/*
###### 検索　駅
```
<span class="ic-search-sta"></span>
```
*/
.ic-search-sta {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:25px;
		height:30px;
		background-position:-28px -170px;
		margin-right: 4px;
	}
}
/*
###### 検索　スポット
```
<span class="ic-search-spot"></span>
```
*/
.ic-search-spot {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:25px;
		height:29px;
		background-position:-53px -170px;
		margin-right: 4px;
	}
}
/*
###### 検索　現在地
```
<span class="ic-search-loc"></span>
```
*/
.ic-search-loc {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:27px;
		height:27px;
		background-position:-78px -170px;
		margin-right: 4px;
	}
}


/*
###### お食事券
```
<span class="ic-ticket"></span>
```
*/
.ic-ticket {
	@extend %sprite;
	width:53px;
	height:20px;
	background-position:0 -30px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 4px;
}

/*
###### クーポン
```
<span class="ic-coupon"></span>
```
*/
.ic-coupon {
	@extend %sprite;
	width:50px;
	height:20px;
	background-position:0 -50px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 4px;
}

/*
###### ランチクーポン
```
<span class="ic-lunch-coupon"></span>
```
*/
.ic-lunch-coupon {
	@extend %sprite;
	width:76px;
	height:20px;
	text-align: left;
	background-position:0 -150px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 4px;
}

/*
###### プレミアムレストラン　ロゴ
```
<span class="ic-premium-logo"></span>
```
*/
.ic-premium-logo {
	@extend %sprite;
	display: inline-block;
	width:100px;
	height:19px;
	text-align: left;
	background-position:0 -130px;
	text-indent: -9999px;
	overflow: hidden;
}

/*
###### 最近見たお店　アイコン
```
<span class="ic-time"></span>
```
*/
.ic-time {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:18px;
		height:18px;
		background-position:-93px -93px;
		margin-right: 4px;
	}
}

/*
###### OK ステータス
```
<span class="ic-ok"></span>
```
*/
.ic-ok {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:21px;
		height:14px;
		background-position:-55px -34px;
		margin-left: 4px;
	}
}

/*
###### NG ステータス
```
<span class="ic-no"></span>
```
*/
.ic-no {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:20px;
		height:14px;
		background-position:-76px -34px;
		margin-left: 4px;
	}
}

/*
###### 今夜空きあり　△
```
<span class="ic-sankaku"></span>
```
*/
.ic-sankaku {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:13px;
		height:13px;
		background-position:-55px -48px;
		margin-right: 4px;
	}
}

/*
###### 今夜空きあり　○
```
<span class="ic-maru"></span>
```
*/
.ic-maru {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:13px;
		height:13px;
		background-position:-68px -48px;
		margin-right: 4px;
	}
}

/*
###### 予算
```
<span class="ic-yen"></span>
```
*/
.ic-yen {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:13px;
		height:13px;
		background-position:-81px -48px;
		margin-right: 4px;
	}
}

/*
###### 特典アイコン　白
```
<span class="ic-present"></span>
```
*/
.ic-present {
	@extend %icon-before;
	&:before {
		@extend %sprite;
		width:8px;
		height:10px;
		background-position:-96px -34px;
	}
}
/*
###### カレンダー　○
```
<span class="ic-maru-blu"></span>
```
*/
.ic-maru-blu {
	@extend %sprite;
	display:inline-block;
	width:13px;
	height:15px;
	text-align: left;
	background-position:-76px -150px;
	text-indent: -9999px;
	overflow: hidden;
}

/*
###### カレンダー　△
```
<span class="ic-sankaku-blu"></span>
```
*/
.ic-sankaku-blu {
	@extend %sprite;
	display:inline-block;
	width:13px;
	height:15px;
	text-align: left;
	background-position:-90px -150px;
	text-indent: -9999px;
	overflow: hidden;
}

/*
###### カレンダー　要確認
2014/3/6 アイコン画像修正：修正前「※」→修正後「■」
```
<span class="ic-kome-blu"></span>
```
*/
.ic-kome-blu {
	@extend %sprite;
	display:inline-block;
	width:13px;
	height:15px;
	text-align: left;
	background-position:-103px -150px;
	text-indent: -9999px;
	overflow: hidden;
}

/*
###### カレンダー　ステータスなし
```
<span class="ic-line"></span>
```
*/
.ic-line {
	@extend %sprite;
	display:inline-block;
	width:11px;
	height:16px;
	text-align: left;
	background-position:-100px -132px;
	text-indent: -9999px;
	overflow: hidden;
}


/*
### form
*/
/*
###### radio
```
<input type="radio" class="ic-radio">
```
*/
.ic-radio {
	@extend %sprite;
	width:22px;
	height:22px;
	background-position:0 -108px;
	margin-right: 8px;
}

/*
###### radio unchecked
```
<input type="radio" class="ic-disable-radio">
```
*/
.ic-disable-radio {
	@extend %sprite;
	width:22px;
	height:22px;
	background-position:-22px -108px;
	margin-right: 8px;
}

/*
###### checkbox
```
<input type="checkbox" class="ic-checkbox">
```
*/
.ic-checkbox {
	@extend %sprite;
	width:18px;
	height:18px;
	background-position:-44px -108px;
	margin-right: 8px;
}


/*
###### checkbox unchecked
```
<input type="checkbox" class="ic-disable-checkbox">
```
*/
.ic-disable-checkbox {
	@extend %sprite;
	width:18px;
	height:18px;
	background-position:-62px -108px;
	margin-right: 8px;
}


/*
### expand icon
*/


/*
###### close
```
<div class="ic-expand-close"></div>
```
*/
.ic-expand-close {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:15px;
		height:15px;
		background-position:-62px -83px;
		margin-left: 8px;
	}
}

/*
###### open
```
<div class="ic-expand-open"></div>
```
*/
.ic-expand-open {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:15px;
		height:15px;
		background-position:-77px -83px;
		margin-left: 8px;
	}
}

/*
###### close size S
```
<div class="ic-expand-close-s"></div>
```
*/
.ic-expand-close-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:8px;
		height:5px;
		background-position:-96px -45px;
		margin-left: 4px;
	}
}

/*
###### open size S
```
<div class="ic-expand-open-s"></div>
```
*/
.ic-expand-open-s {
	@extend %icon-after;
	&:after {
		@extend %sprite;
		width:8px;
		height:5px;
		background-position:-96px -50px;
		margin-left: 4px;
	}
}

/*
###### あとで見る デフォルト（グレー）
```
<span class="ic-checklist-gra">あとで見る</span>
```
*/
.ic-checklist-gra {
	@extend %sprite;
	display:inline-block;
	width:64px;
	height:21px;
	background-position:0 -200px;
}

/*
###### あとで見る 選択状態（青）
```
<span class="ic-checklist-blu">あとで見る</span>
```
*/
.ic-checklist-blu {
	@extend %sprite;
	display:inline-block;
	width:64px;
	height:21px;
	background-position:-64px -200px;
}